@charset "utf-8";
.banner604 {
	position: relative;
}

.banner604 a {
	position: absolute;
	top: 0;
	left: 0;
	/*100%必须写，因为定位的盒子由内容撑开高度，*/
	width: 100%;
	height: 604px;
	background: url(../images/banner.jpg) no-repeat top center;
}

.main {
	/*相对于banner604的盒子，因为在后面，所以覆盖住了*/
	position: relative;
}

.slider {
	width: 730px;
	height: 453px;
	background-color: pink;
	margin: 12px 0 0 220px;
	float: left;
	position: relative;
}

.circle {
	position: absolute;
	bottom: 8px;
	left: 50%;
	margin-left: -66px;	
}

.circle li {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #3E3E3E;
	float: left;
	text-align: center;
	line-height: 18px;
	color: #FFFFFF;
	margin: 0 2px;
	cursor: pointer;
}

.circle li.curret {
	background-color: #B61B1F;
}

.arrow-l, .arrow-r{
	position: absolute;
	width: 28px;
	height: 62px;
	top: 50%;
	margin-top: -31px;
	color: #FFFFFF;
	font: 500 18px/62px "宋体";
	text-align: center;
	background: rgba(0,0,0,0.3);
}

.arrow-l {
	left: 0;
}

.arrow-r {
	right: 0;
}

.arrow-l:hover, .arrow-r:hover {
	background-color: rgba(0,0,0,0.4);
	color: #FFFFFF;
}

.news {
	width: 248px;
	height: 451px;
	border: 1px solid #E4E4E4;
	float: right;
	margin-top: 12px;
}

.jd-news {
	height: 200px;
	border-bottom: 1px dashed #E4E4E4;
}

.jd-news .dt, .lifeservice .dt {
	height: 43px;
	border-bottom: 1px dotted #E8E8E7 ;
	line-height: 43px;
}

.jd-news .dt h3, .lifeservice .dt h3{
	float: left;
	font: 14px/43px "微软雅黑";
	color: #666666;
	padding-left: 15px;
}

.jd-news .dt a {
	float: right;
	font: 13px/43px "微软雅黑";
	margin-right: 15px;
}

.jd-news .dd  ul {
	padding: 8px 0 0 15px;
}

.jd-news .dd ul li {
	line-height: 28px;
}

.jd-news .dd span {
	font-weight: 700;
	margin-right: 5px;
}

.lifeservice {
	height: 251px;
    width: 248px;
	overflow: hidden;
}

.lifeservice ul {
	width: 252px;
}

.lifeservice .dd {
	border-top: 1px dotted #E4E4E4;
	overflow: hidden;
	width: 251px;
}

.lifeservice .dd li {
	width: 62px;
	height: 70px;
	border: 1px solid #E4E4E4;
	float: left;
	border-top: 0;
	/*两种做法，淘宝的是往上-1px，往左-1px,而京东是没有上边只有下边，最后再在顶部加一条线*/
	margin-left: -1px;
}

.lifeservice ul li a{
	display: block;
	height: 70px;
	text-align: center;
	padding-top: 48px;
	position: relative;
}

.lifeservice li i {
	position: absolute;
	top: 12px;
	left: 18px;
	width: 25px;
	height: 25px;
	background: url(../images/icon_lifeserv.png) no-repeat right top;
}

.lifeservi-icon2 a i {
	/*只层叠位置*/
	background-position: right -25px;
}

.lifeservice .song {
	background: url(../images/song.png) no-repeat right top;
}

/*双十一活动*/

.todays {
	position: relative;
}
.night {
	margin: 10px 0 28px 0;
}
.night-r {
	width: 1000px;
	height: 160px;
	float: right;
}

.night-r ul {
	width: 500%;
}

.night-r li {
	float: left;
	margin-right: 1px;
}
