@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}





/*开始制作*/
/*头部导航开始*/
.shortcut {

}

 .shortcut .dt,
 .shortcut .fore
 /*提升权重，有下箭头的li的padding*/
 {

}


.shortcut .dt i,
.fore i
 {

}

.shortcut .dt s,
.fore s
{

}

.fr li {

}

.fr .line {

} 

.shortcut .tel-jd {

}

.tel {

}

/*顶部end*/



/*topbanner start*/
.topbanner {
    
}
.close-banner {
    
}
.close-banner:hover {

}
.tp{

}

/*topbanner end*/

.logo {

}
.jd-a{

}
.db11 {

}


.search {

}

.search input {
	/*盒子大小=width+padding+border*/

}

.search button {

}

.car {

}

.icon1 {

}

.icon2 {
	
}

.icon3 {

}

.hotwords {

}

.hotwords a {

}

  /*nav部分*/
.jd-nav {

}

.dropdown {

	/*超出部分显示，为了浏览器兼容*/
	overflow: visible;
}

.dropdown .dt {

}

.dropdown .dt a {

}

.dropdown .dd {

}

.dropdown .dd .items {

}

.dropdown .items h3 {

}

.dropdown .items span {

}

.navitems {

}

.navitems li {

}

.navitems li.new {
	
}

.navitems li a {

}

.navitems li a:hover {
	
}

.bike {

	
}

.bike a {

}

/*头部结束*/



/*底部开始*/
.slogen {
	
}

.item {
	
}

.slogen1 {
	
}

.slogen2 {
	
}

.slogen3 {
	
}

.slogen4 {
	
}

.service dl {
	
}

.service dt,
.coverage .dt
{
	
}

.service dd {
	
}

.coverage {
	
}

.coverage p {
	
}

.coverage .dd {
	
}

.looklook {
	
}

.jd-footer .againw{
	
}

.links {
	
}

.links a {
	
}

.copyRight{
	
}
